<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <h1 th:text="${title}">Default Title</h1>

    <nav th:replace="fragments :: navigation"></nav>

    <p th:unless="${items} and ${items.size()}">No items yet</p>

    <table class="table">

        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>

        <tr th:each="item : ${items}">
            <td th:text="${item.name}"></td>
            <td th:text="${item.description}"></td>
        </tr>

    </table>

</body>
</html>