<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
    <h1 th:text="${title}">Default Title</h1>

    <nav th:replace="fragments :: navigation"></nav>

    <p th:unless="${items} and ${items.size()}">No items yet</p>

    <table class="table table-bordered table-sm">

        <thead class="thead-light">
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Store</th>
        </tr>
        </thead>

<!--how do I say here I want to show only the items associated with a certain user?
but I think im doing this in ItemController already-->

        <tr th:each="item : ${items}">
            <td th:text="${item.name}"></td>
            <td th:text="${item.category.name}"></td>
            <td th:text="${item.store.name}"></td>
        </tr>

    </table>

    <nav th:fragment="navigation">
        <a href="/item/add">Add</a> |
        <a href="/item/remove">Remove</a>
    </nav>

</body>
</html>