<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
    <h1 th:text="${title}">Default Title</h1>

    <nav th:replace="fragments :: navigation"></nav>

    <form method="post" style="max-width:600px;">
        <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" type="text" id="username" />
            <span class="error" style="color: red;"></span>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" id="password" />
            <span class="error" style="color: red;"></span>
        </div>

        <p th:if="${error_message}" style="color:red;" th:text="${error_message}"></p>

        <input type="submit" value="login" />
    </form>

</body>
</html>