<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

    <div th:replace="fragments :: header"></div>

    <h1 th:text="${title}">Default Title</h1>

    <p th:unless="${stores} and ${stores.size()}">No stores yet</p>

    <ul>
        <li th:each="store : ${stores}">
            <a th:href="'/store/view/' + ${store.id}" th:text="${store.name}"></a>
        </li>
    </ul>

    <a href="/store/add">Add Store</a> |
    <a href="/store/remove">Remove Store</a>

    <div th:replace="fragments :: footer"></div>

</body>
</html>