<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

    <div th:replace="fragments :: header"></div>

    <h1 th:text="${title}">Default Title</h1>

    <p>Deleting a store will delete all of the associated items.</p>

    <form method="post" style="max-width:600px;" th:action="@{/store/remove}" th:object="${store}">

        <div th:each="store : ${stores}" class="checkbox">
            <input type="checkbox" name="storeIds" th:value="${store.id}" th:id="${store.id}"/>
            <label th:for="${store.id}" th:text="${store.name}"></label>
            <br />
        </div>

        <input type="submit" value="Remove Store" />
    </form>

</body>
</html>