<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title th:text="${title}"></title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>

<div th:fragment="header">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/}">Resale Shop Inventory</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a th:href="@{/item/add}">Add Item</a>
                </li> |
                <li class="nav-item">
                    <a th:href="@{/item/remove}">Remove Item</a>
                </li> |
                <li class="nav-item">
                    <a th:href="@{/category}">Categories</a>
                </li> |
                <li class="nav-item">
                    <a th:href="@{/store}">Stores</a>
                </li> |
                <li class="nav-item" sec:if="${#authorization.expression('isAuthenticated()')}">
                    <form th:action="@{/logout}" method="post" name="logoutForm"></form>
                    <a href="#" onclick="document.logoutForm.submit()">Log Out</a>
                </li> |
                <li class="nav-item" sec:if="${#authorization.expression('!isAuthenticated()')}">
                    <a th:href="@{/register}">Register</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid mt-4">
        <div th:if="${message != null}"
             th:with="parts=${#strings.arraySplit(message, '|')}"
             th:attr="class=${'alert alert-' + parts[0]}"
             th:text="${parts[1]}"
             role="alert">
        </div>
    </div>

</div>

<div th:fragment="footer">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</div>

</body>
</html>